.gitignore
aclocal.m4
autom4te.cache/
build_bgq_emu/
build_bgq_emu_opt/
build_opt/
build_pc
build_stable
compile_commands.json
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
configure
configure
config/ylwrap
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile~
Makefile.in
src/config.hpp.in
tools/Makefile.in
tools/Makefile.in
build_clang
/doc/deflation-notes.pdf
