.gitignore
aclocal.m4
autom4te.cache/
build*/
compile_commands.json
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
configure
configure
config/ylwrap
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile~
Makefile.in
src/config.hpp.in
tools/Makefile.in
tools/Makefile.in
/doc/deflation-notes.pdf
/.dir-locals.el
/src/config.hpp.in~
/doc/facc.lyx~
/doc/facc.pdf
/.dir-locals.el~
/doc/autovalori.pdf
/doc/stoch_photon.pdf
/doc/stoch_photon.tex
/doc/smearing_bali.pdf
/doc/bissa.txt*
/doc/description.txt
/test/projects/spectral_projectors/conf*
/test/projects/spectral_projectors/full_input
/.cache/
